

<form class="text-center" action="/auth/login" method="POST">
    <label style="color: whitesmoke;" for="auth-email">Email</label>
    <input id="auth-email" type="email" name="email">
  
    <label style="color: whitesmoke;" for="auth-password">Password</label>
    <input id="auth-password" type="password" name="password">
  
    <input class="btn btn-info" type="submit" value="Log In">
</form>