<h2>Sign Up</h2>
<form class="text-center" action="/auth/signup" method="POST">
    <label style="color: whitesmoke;" for="new-name">Name</label>
    <input id="new-name" type="text" name="name">
    
    <label style="color: whitesmoke;" for="new-email">Email</label>
    <input id="new-email" type="email" name="email">
  
    <label style="color: whitesmoke;" for="new-password">Password</label>
    <input id="new-password" type="password" name="password">
  <br>
    <input class="btn btn-info" type="submit" value="Sign up">
</form>