<div
    class="bg-image"
    style="
    background-image: url('https://i.postimg.cc/L8wLWPqP/site-Background.jpg');
    background-size: 100vh;"
    
>
<h1>Your Want To Watch List!</h1>

<% results.forEach(result => { %>

    <img src="<%=result.posterImage%>" alt="post of searched anime">
    <h3>
        <a href="/animeSearch/<%= result.animeId %> "> <%= result.name %> </a>
    </h3>
    <form action="/watchlist/<%= result.id %>?_method=DELETE" method="POST">
        <button type="submit">Remove from Want To Watch List</button>
    </form>
<% }) %>

</div>