<h2>Search for an anime below</h2>



<form method="GET" action="/animeSearch/results">
    <label for="anime title input">Anime Title</label>
    <input type="text" name="animeTitle">
    <input type="submit">

</form>