<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LightweightKitsu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">
</head>

<body>
<div
  class="bg-image"
  style="
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
    height: 100vh;
  "
>
  <div class="titlePage-Picture">
    <h1 class="display-1 text-center">LightweightKitsu<img src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Stoned_Fox_.jpg"
      style="width: 100px; height: 100px"
      class="" alt="stoned fox"></h1>
  </div>
    <header>
        <nav>
            <ul class="nav justify-content-center">
              <% if (!currentUser) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="/auth/login">Login</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/auth/signup">Signup</a>
                </li>
                
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/favoritedAnime">Favorites</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/watchlist">Want To Watch</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/auth/logout">Logout</a>
                </li>
              <% } %>
            </ul>
          </nav>
          
    </header>
    <%- include('partials/alerts') %>
      <%- body %>
</div>
</body>
</html>