<h2><%= currentUser.name %>'s Profile</h2>
<h3>Bio!</h3>
<p><%= currentUser.biography %> </p>
<form method="POST" action="/profile/<%= currentUser.id %>/?_method=PATCH ">
    <textarea name="biographyBoxes" id="bioBox" cols="40" rows="6"></textarea>
    <br>
    <input type="submit" value="Update bio"></button>
</form>
